{% extends "base.html" %}

{% block content %}
<div class="login-box">
    <h1>Criar Nova Conta</h1>
    
    {% if erro %}
        <div class="alert alert-danger">{{ erro }}</div>
    {% endif %}

    <form action="/cadastro" method="POST">
        <div class="form-group">
            <label>Tipo de Conta</label>
            <select name="tipo_conta" required>
                <option value="CACO_ESTUDANTE" {% if tipo_conta_selecionada == 'CACO_ESTUDANTE' %}selected{% endif %}>Estudante (CACo)</option>
                <option value="CACO_GESTAO" {% if tipo_conta_selecionada == 'CACO_GESTAO' %}selected{% endif %}>Gestão (CACo)</option>
                <option value="AUSTRALIA_ELEITOR" {% if tipo_conta_selecionada == 'AUSTRALIA_ELEITOR' %}selected{% endif %}>Eleitor (Austrália)</option>
                <!-- <option value="AUSTRALIA_CANDIDATO" {% if tipo_conta_selecionada == 'AUSTRALIA_CANDIDATO' %}selected{% endif %}>Candidato (Austrália)</option> <= Tem que colocar isso depois que criar uma autenticação pra candidatos --> 
                <option value="BOTC_JOGADOR" {% if tipo_conta_selecionada == 'BOTC_JOGADOR' %}selected{% endif %}>Jogador (Blood on the Clocktower)</option>
                <option value="BOTC_STORYTELLER" {% if tipo_conta_selecionada == 'BOTC_STORYTELLER' %}selected{% endif %}>Mestre (Blood on the Clocktower)</option>
            </select>
        </div>        

        <div class="form-group">
            <label>Nome Completo</label>
            <input type="text" name="nome_real" value="{{ nome_real_digitado | default('') }}" required>
        </div>

        <div class="form-group">
            <label>Username (Login)</label>
            <input type="text" name="username" value="{{ username_digitado | default('') }}" required>
        </div>

        <!-- Campo condicional para RA. Usaremos JS no futuro para esconder se não for estudante -->
        <div class="form-group" id="campo-ra">
            <label>RA (Apenas para estudantes CACo)</label>
            <input type="number" name="ra" placeholder="123456" value="{{ ra_digitado | default('') }}" >
        </div>

        <div class="form-group">
            <label>Senha</label>
            <!-- Senhas são limpas por segurança -->
            <input type="password" name="senha" required>
        </div>

        <div class="form-group">
            <label>Confirme a Senha</label>
            <input type="password" name="senha_confirma" required>
        </div>

        <button type="submit" class="btn-primary mt-2">Registrar e Entrar</button>
        <a href="/" class="btn-secondary mt-2">Voltar ao Login</a>
    </form>
</div>
{% endblock %}